*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
  --fonts-body: 'Baloo 2', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --fonts-display: 'Shrikhand', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --fonts-mono: 'SF Mono', 'Roboto Mono', Menlo, Consolas, monospace;

  --colors-darker: #151613;
  --colors-dark: #20201d;
  --colors-darkless: #2b2b27;
  --colors-black: #1d201d;
  --colors-slate: #3b413a;
  --colors-muted: #777f76;
  --colors-smoke: #9f9c9c;
  --colors-snow: #f5f5f4;
  --colors-white: #ffffff;
  --colors-pink: #ff62dc;
  --colors-orange: #ff5b00;
  --colors-yellow: #f7ff00;
  --colors-green: #28ff00;
  --colors-cyan: #00ffff;
  --colors-blue: #00a4ff;
  --colors-purple: #c210ff;
  --colors-red: #ec3750;

  --colors-text: var(--colors-black);
  --colors-background: var(--colors-smoke);
  --colors-sheet: var(--colors-white);
  --colors-elevated: var(--colors-white);
  --colors-sunken: var(--colors-smoke);
  --colors-progress: var(--colors-red);
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: "Pixelated MS Sans Serif",Arial;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--colors-background);
  color: var(--colors-text);
}

img {
  max-width: 100%;
}

.react-calendar-heatmap {
  max-width: 320px;
}
.react-calendar-heatmap-month-label,
.react-calendar-heatmap-weekday-label {
  font-size: 8px;
}

.__react_component_tooltip { pointer-events: auto !important; }

.post-attachments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  align-items: center;
  margin-top: 8px;
}


.header {
  width: 100%;
}

@media (min-width: 48em) {

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .header-title-avatar {
    margin-right: 16px;
  }
}

@media (max-width: 32em) {
  .header {
    margin-bottom: 16px;
  }

  .header-col-1 {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }
}

.header-title-avatar {
  margin-right: 16px;
}
.header-title-name {
  margin: 0;
  flex: 1 1 auto;
  font-size: 48px;
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.badge {
  background-color: var(--colors-yellow);
  color: var(--colors-black);
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.posts {
  display: grid;
  grid-gap: 16px;
  overflow: hidden;
  background-color: var(--colors-sunken);
}

@media (min-width: 32em) {
  .posts {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.header-streak {
  padding: 4px 16px 4px 0;
  margin: 8px 12px 8px 0;
  max-height: 28px;
}
.header-streak-zero {
  display: none !important;
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-links {
  display: flex;
  align-items: center;
}
.header-link {
  color: var(--colors-blue);
  transition: 0.125s color ease-in-out;
  padding-right: 8px;
  line-height: 0;
}
.header-link:hover,
.header-link:focus {
  color: var(--colors-cyan);
}
.header-content audio {
  margin-top: 6px;
  margin-bottom: 12px;
}

.window{
  margin-bottom: 12px;
}